{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/load.png' %}" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% include 'partials/menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/map.png' %}" alt="">
                        <div class="receipe-content">
                            <a href="receita.html">
                                <h5>Endereços Cadastrados</h5>
                            </a>
                        </div>
                    </div>
                </div>
                        <!-- Endereços Content Area -->
                    <div class="receipe-content-area">
                        <div class="container">

                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="receipe-headline my-5">
                                        <span>30 de Fevereiro, 2000</span>
                                            <div class="receipe-duration">
                                            <h6>RUA: </h6>
                                            <h6>BAIRRO: </h6>
                                            <h6>NÚMERO: </h6>
                                            <h6>COMPLEMENTO: </h6>
                                            <h6>DESCRIÇÃO:</h6>
                                            <h6>CIDADE:</h6>
                                            <h6>UF:</h6>
                                            <h6>CEP:</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->
    {% include 'partials/footer.html' %} 
 {% endblock %}